body{
    margin: 0;
    background-color: darkgray;
}

#container_index{
    display: grid;
    grid-template-columns: 84vw 15vw;
    grid-template-rows: 30vh 15vh 90vh 25vh;
    height: 160vh;
    width: 98vw;
    scroll-padding-block: none;
    grid-template-areas: 
    
    'he he'
    'na na'
    's1 as'
    'fo fo'
    ;
}
#container_info{
    display: grid;
    grid-template-columns: 84vw 15vw;
    grid-template-rows: 30vh 15vh 90vh 25vh;
    height: 160vh;
    width: 98vw;
    scroll-padding-block: none;
        
    grid-template-areas: 
            
    'he he'
    'na na'
    's2 s2'
    'fo fo'
    ;
}
#container_meny{
    display: grid;
    grid-template-columns: 84vw 15vw;
    grid-template-rows: 30vh 15vh 90vh 25vh;
    height: 160vh;
    width: 98vw;
    scroll-padding-block: none;

    grid-template-areas: 
    
    'he he'
    'na na'
    'se se'
    'fo fo'
    ;
}

.header{
    grid-area: he;
    background-color: grey;
    display: flex;
    justify-content: inherit;
    align-items: center;
}
h1#title{
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: flex-end;
    font-style: italic;
    text-shadow:2px 3px lightblue;
}
.nav{
    grid-area: na;
    display: flex;
    justify-content: space-evenly;
    background-color: darkgray;
    
    align-items: center;
}
a.navtagg{
    padding: 2vh 10vw 2vh 10vw;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    font-size: 45px;
    color: black;
    text-decoration: none;
    box-shadow: -5px 5px 5px 2px;
}
a.navtagg:hover{
    box-shadow: none;
    background-color: rgb(136, 136, 136);
    transform: translate(-5px, 5px);
    
}

#section_index{
    grid-area: s1;
    background-color: darkgray;
}


#section_info{
    grid-area: s2;
}

#section_meny{
    grid-area: s3;
}


.aside{
    grid-area: as;
    background-color: gray;
    border-radius: 10px ;
    box-shadow: -5px 5px 5px 2px;
}
.footer{
    grid-area: fo;
    background-color: rgb(58, 58, 58);
    color: whitesmoke;
}

.wrapper{
    display: flex;
}

#noscroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#noscroll::-webkit-scrollbar{
    display: none;
}